
venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables & secrets
.env
*.env

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & Editor files
.vscode/
.idea/
*.swp

# OS generated
Thumbs.db
.DS_Store

# Local media / outputs
storage/uploads/
storage/exports/

#images
*jpg
yolo11n.pt
